<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--<servlet>-->
        <!--<servlet-name>org.yejt.test.HelloWorld</servlet-name>-->
        <!--<servlet-class>org.yejt.test.HelloWorld</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>org.yejt.test.HelloWorld</servlet-name>-->
        <!--<url-pattern>/hello_world</url-pattern>-->
    <!--</servlet-mapping>-->

    <filter>
        <filter-name>RegFilter</filter-name>
        <filter-class>org.yejt.filter.RegFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RegFilter</filter-name>
        <url-pattern>/Register</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>LoggFilter</filter-name>
        <filter-class>org.yejt.filter.LogFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoggFilter</filter-name>
        <url-pattern>*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>org.yejt.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/MainPage*</url-pattern>
        <url-pattern>/Question*</url-pattern>
        <url-pattern>/UserInfo*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

</web-app>